/******** FORMS   *********/


/******** REGISTER FORM   *********/

/* validation error message  */
#register-form .input-field div.invalid{
    margin-left: 6%;
    margin-top: 2px;  
    font-size: 1.2rem;
    /* font-weight: bold;  */
    color:red;
    /* -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%); */
    transform: translateY(0%);
  }
  

/****/  
  /* label color */
  .input-field label {
    color: #000;
  }
  
  /* icon prefix focus color */
   .input-field .prefix.active {
    color: rgb(233, 140, 78);
  }

  /* label focus color */
  #register-form .input-field input:focus + label {
    color: rgb(167, 44, 44);
  }
  /* label underline focus color */
  #register-form .input-field input:focus {
    border-bottom: 2px solid #EE7827;
    box-shadow: 0 1px 0 0 #EE7827;
  }

  /* valid color */
  #register-form .input-field input.valid {
    border-bottom: 2px solid green;
    box-shadow: 0 1px 0 0 green;
  }
  /* invalid color */
  #register-form .input-field input.invalid {
    border-bottom: 2px solid rgb(163, 32, 32) ;
    box-shadow: 0 1px 0 0 rgb(207, 101, 101);
  }
  




/********* LOGIN FORM  *********/
.login-btn{
    display: block; 
    width: 15%; 
    margin: auto;   
    margin-top: 20px; 
  }
  
  .login-btn:hover{
    background-color: rgb(236, 122, 9) !important;
  }