/******** FORMS   *********/
/******** REGISTER FORM   *********/

.reg-form-part-2 label{
  font-size: 1.1em;
}

/* validation error message  */
#register-form .input-field div.invalid{
    margin-left: 6%;
    margin-top: 2px;  
    font-size: 1.2rem;  
    color:red;
    transform: translateY(0%);
  }
  
.reg-form-part-2{
  margin-top: 60px;
  margin-bottom: 150px;  
}

/****/  
  /* label color */
  #register-form .input-field label {
    color: #000;
  }
  
  #register-form label{
    color : rgba(0, 0, 0, 0.664);
  }

  /* icon prefix focus color */
   .input-field .prefix.active {
    color: rgb(233, 140, 78);
  }

  /* label focus color */
  #register-form .input-field input:focus + label {
    color: rgb(167, 44, 44);
  }
  /* label underline focus color */
  #register-form .input-field input:focus {
    border-bottom: 2px solid #EE7827;
    box-shadow: 0 1px 0 0 #EE7827;
  }

  /* valid color */
  #register-form .input-field input.valid {
    border-bottom: 2px solid green;
    box-shadow: 0 1px 0 0 green;
  }
  /* invalid color */
  #register-form .input-field input.invalid {
    border-bottom: 2px solid rgb(163, 32, 32) ;
    box-shadow: 0 1px 0 0 rgb(207, 101, 101);
  }
  

/****** DROPDOWN ******/ 
#register-form .dropdown-content li>a, 
#register-form .dropdown-content li>span{
  background-color: rgb(52, 138, 212);
  color: white; 
}
#register-form .select-dropdown li.disabled>span{
  color:rgb(170, 167, 167); 
  
}

#register-form .select-wrapper input.select-dropdown {
  border-bottom: .5px solid grey;
}

/****  RADIO BUTTONS ****/
[type="radio"]:checked+label:after, 
[type="radio"].with-gap:checked+label:after {
  background-color: #EE7827;
}

[type="radio"]:checked+label:after, 
[type="radio"].with-gap:checked+label:before, 
[type="radio"].with-gap:checked+label:after {
  border: 2px solid #EE7827;
}

/***  TICK (agreement) ***********/
[type="checkbox"]:checked+label:before{
  border-right: 5px solid #EE7827;
  border-bottom: 4px solid #EE7827;
}

/********* BUTTON  *********/
.login-btn{
    display: block; 
    width: 15%; 
    margin: auto;   
    margin-top: 20px; 
  }
  
  .login-btn:hover{
    background-color: rgb(236, 122, 9) !important;
  }

/* 
//TEMPLATE : 
https://materializecss.com/text-inputs.html */